.main-title{
  border: 0.2rem solid rgb(160, 203, 195);
  font-size:x-large;
  margin:1rem;
  padding:1rem;
  border-radius: 15px
}
.upper-buttons{
  border: 0.2rem solid #a0cbc3;
  display: inline-block;
  padding: 1rem;
  margin:0.01rem;
  border-radius: 15px
  
}
.lower-buttons{
  border: 0.2rem solid rgb(160, 203, 195);
  display: inline-block;
  padding: 1rem;
  margin:0.01rem;
  border-radius: 15px
}
.Article-card-container{
  margin: 0;
  padding:5%;
  border: 0.2rem solid hsl(169, 29%, 71%);
  align-items: center;
  border-radius: 15px;
}
.card {
  align-items: center;
    display:inline-block;
    padding:0px;
    margin: 0%;
    border: 0.2rem solid #a0cbc3;
    width: 33%;
    height: 70%;
    border-radius: 15px;
    box-sizing: border-box;
}
.card-img{

  width: 100%;
  height: 60%;
  border-radius: 15px
}
.card-title{
  padding: 0.5rem;
  font-size:80% ;
}
.card-votes{
  padding: 0.5rem;
  font-size:x-small ;
}
.loader {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.solo-article-container{
  border: 0.2rem solid rgb(160, 203, 195);
  border-radius: 15px;
  text-align: center;
}
.solo-article-img{
  max-height: fit-content;
  max-width:50rem ;
  width: 90%;
}
.solo-article-body{
text-align: left;
padding:3%;
margin:3%;
}
.solo-article-votes{
  text-align: right;
  padding:3%;
  margin:3%;
}
.comments{
  border: 0.2rem solid #a0cbc3;
  border-radius: 15px;
  display: grid;
  text-align: center;
  margin:3%;
  min-width: 19rem;
  min-height: fit-content;
}
.comment{
  display:inline-flex;
  border: 0.2rem solid #a0cbc3;
  border-radius: 15px;
  text-align: left;
  padding:3%;
  margin:3%;
  min-height: fit-content;
  width:80%;
}
.comment-user-avatar{
  border: 0.2rem solid rgb(160, 203, 195);
  border-radius: 15px;
  max-height: 8rem;
  width: 5rem;
  text-align: center;
  padding: 2%;
  display:flex;
}
.comment-body{
  display:inline-flex;
  border: 0.2rem solid #a0cbc3;
  border-radius: 15px;
  text-align: left;
  padding:8%;
  margin:3%;
  width:50%;
}
.comment-input-box{
  display:flexbox;
  border-radius: 15px;
  border: 0.2rem solid rgb(160, 203, 195);
  padding:0.5rem;
  margin: 0.5rem;
  max-width: 100%;
}
.comment-input-label{
  display:grid;
  padding:0.5rem;
  margin: 0.5rem;
  font-size: large;
  border-radius: 15px;
  border: 0.2rem solid rgb(160, 203, 195);
}
.comment-submit{
  display:flexbox;
  padding:0.5rem;
  margin: 0.5rem;
  border-radius: 15px;
  border: 0.2rem solid rgb(160, 203, 195);
}